extends layout

block content
	.container-fluid#grid_imgs
		doctype html
		html
				head
				meta(charset='utf-8')
				meta(name='viewport', content='width=device-width, maximum-scale=1')
				title Search Results
				link(href='/stylesheets/simplePagination.css', type='text/css', rel='stylesheet')
		body
			
			a.btn.btn-info(href='/browse/comics/ratings', role='button') Rating
			a.btn.btn-info(href='/browse/comics/alpha', role='button') Alphabetical
			h1 Uploads
			#pagination-1
			table#content-1
				tbody
					each proj in locals.projs
							tr
									h3
												td
													a(href='/viewing/#{proj._id}')=proj.title
														div
														img.img-thumbnail(src=proj.cover)
														div
													
	


			script(src='/javascripts/jquery-1.10.2.min.js')
			script(src='/javascripts/jquery.simplePagination.js')
			script(src='/javascripts/pagination.js')
