extends layout

block content
	.container-fluid
		h1 My Favourites
			.container-fluid
			-if (!favourites.length == 0){
				form#formRate(name="favourite",method="post",action="/deletefav")
					fieldset.favourite
						ul
						each fav, pg in favourites
							input#fav.form-control(type='checkbox', name="favourite", value="#{favourites[pg]._id}")
							a(href='/viewing/#{favourites[pg]._id}')
								| #{favourites[pg].title} by: #{favourites[pg].username}
					button.btn.btn-primary(type='submit')#btn_submit Remove
			-}
			-else
				| You don't have any favourites my friend!
				