extends layout

block content
	.container-fluid
		h1 Quest Chronicles P2
		.container-fluid
		img.img-thumbnail(src='http://uploadsexynelson.s3.amazonaws.com/3.jpg')
	.container-fluid
		a.button.btn.btn-default(href='/viewing') Prev
		a.button.btn.btn-default(href='/viewing2') Next